body{
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 3vw;
 
}

#search-bar-top{
    margin: 15px;
    display: flex;
    gap: 10px;
}

#input-search{
    background-color: #666565;
    border-radius: 20px;
    padding: 15px;
}

#btn-cancel{
    color: #DDE85B;
}

main{
    display: flex;
    flex-direction: column;
    margin-top: 20vw;
    gap: 20px;
}

#recent-users{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#recent-users-left{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.div-class{
    width: 100%;
    display: flex;
    justify-content: end;  
}

 .ri-close-line, .p-user-name, .ri-user-line, #p-user-name{
    color: white;
}

#p-recent-search{
    color: #DDE85B;

}
input::placeholder{
    color: #DDE85B;
}

.ri-search-line{
    color: #DDE85B;
}
.font-users, #font-users{
    font-size: 20px;
}