body {
    background-color: #000;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: black;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 3rem;
    height: 3rem;
}

.brand {
    color: #facc15; /* amarelo Tailwind (yellow-400) */
    font-size: 1.25rem;
    margin-left: 0.5rem;
}

.nav-buttons {
    display: flex;
    gap: 1.5rem;
}

.nav-buttons button {
    color: #facc15;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
}

/* Posts */
.main {
    padding: 1rem;
    
}
#container{
    display: flex;
    gap: 10px;
}

.post {
    background-color: #111827; /* gray-900 */
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    color: #facc15;
    font-weight: bold;
}

.time {
    color: #6b7280; /* gray-500 */
    font-size: 0.875rem;
}

.post-body p {
    color: #d1d5db; /* gray-300 */
    font-size: 0.875rem;
    margin-top: 0.5rem;
}

.video-time {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
}

.video-time span {
    color: #facc15;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.icons {
    display: flex;
    gap: 1rem;
}

.icons i {
    color: #facc15;
    font-size: 1.25rem;
    cursor: pointer;
    transition: transform 0.2s;
}

.icons i:hover {
    transform: scale(1.1);
}

.stats {
    display: flex;
    gap: 1rem;
    color: #d1d5db;
}

/* Footer */
.footer {
    background-color: black;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.footer i {
    color: white;
    font-size: 1.875rem;
    cursor: pointer;
    transition: color 0.3s;
}

.footer i:hover {
    color: #dde85b;
}
